In [6]:
import pandas as pd

In [7]:
merged_review = pd.read_csv("merged_review_business.csv")

/var/tmp/ipykernel_5806/3769299552.py:1: DtypeWarning: Columns (0,5,6,7,17) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_review = pd.read_csv("merged_review_business.csv")

In [8]:
merged_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5126138 entries, 0 to 5126137
Data columns (total 26 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    object
 1   review_id     object
 2   user_id       object
 3   business_id   object
 4   stars_x       float64
 5   useful        object
 6   funny         object
 7   cool          object
 8   text          object
 9   date          object
 10  year          float64
 11  month         float64
 12  day_of_week   float64
 13  name          object
 14  address       object
 15  city          object
 16  state         object
 17  postal_code   object
 18  latitude      float64
 19  longitude     float64
 20  stars_y       float64
 21  review_count  float64
 22  is_open       float64
 23  attributes    object
 24  categories    object
 25  hours         object
dtypes: float64(9), object(17)
memory usage: 1016.8+ MB

In [9]:
merged_review[['useful', 'funny', 'cool']] = merged_review[['useful', 'funny', 'cool']].apply(pd.to_numeric, errors='coerce')

In [10]:
merged_review['review_relelvance'] = merged_review['useful'] + merged_review['funny'] + merged_review['cool']

In [7]:
merged_review.describe()

,stars_x,useful,funny,cool,year,month,day_of_week,latitude,longitude,stars_y,review_count,is_open,review_relelvance
count,5.126137e+06,5.126136e+06,5.126136e+06,5.126136e+06,5.126136e+06,5.126136e+06,5.126136e+06,5.126135e+06,5.126135e+06,5.126135e+06,5.126135e+06,5.126135e+06,5.126136e+06
mean,3.802053e+00,1.010931e+00,3.120772e-01,5.002046e-01,2.016485e+03,6.431944e+00,3.146123e+00,3.589821e+01,-8.914506e+01,3.801560e+00,4.655727e+02,8.007963e-01,1.823212e+00
std,1.392969e+00,2.784273e+00,1.720867e+00,2.202156e+00,3.217365e+00,3.407204e+00,2.078064e+00,5.344874e+00,1.439362e+01,6.421224e-01,8.245235e+02,3.994016e-01,5.972363e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.595191e+01,-8.680667e+01,0.000000e+00,2.756446e+01,-1.200837e+02,1.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00
25%,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015000e+03,3.000000e+00,1.000000e+00,2.996033e+01,-9.024299e+01,3.500000e+00,8.000000e+01,1.000000e+00,0.000000e+00
50%,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.017000e+03,6.000000e+00,3.000000e+00,3.860115e+01,-8.616001e+01,4.000000e+00,2.030000e+02,1.000000e+00,0.000000e+00
75%,5.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.019000e+03,9.000000e+00,5.000000e+00,3.994383e+01,-7.545917e+01,4.000000e+00,4.770000e+02,1.000000e+00,2.000000e+00
max,5.000000e+00,4.200000e+02,7.920000e+02,4.040000e+02,2.022000e+03,1.200000e+01,6.000000e+00,5.367920e+01,-7.466135e+01,5.000000e+00,7.568000e+03,1.000000e+00,1.011000e+03

In [13]:
merged_review.head()

,Unnamed: 0,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,...,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours,review_relelvance
0,0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0.0,0.0,0.0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,...,19454,40.210196,-75.223639,3.0,169.0,1.0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","['Restaurants', 'Breakfast & Brunch', 'Food', ...","{'Friday': '7:30-15:0', 'Monday': '7:30-15:0',...",0.0
1,1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2.0,0.0,0.0,0.0,This is the second time we tried turning point...,2017-05-13 17:06:55,...,19454,40.210196,-75.223639,3.0,169.0,1.0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","['Restaurants', 'Breakfast & Brunch', 'Food', ...","{'Friday': '7:30-15:0', 'Monday': '7:30-15:0',...",0.0
2,2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4.0,2.0,0.0,1.0,The place is cute and the staff was very frien...,2017-08-08 00:58:18,...,19454,40.210196,-75.223639,3.0,169.0,1.0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","['Restaurants', 'Breakfast & Brunch', 'Food', ...","{'Friday': '7:30-15:0', 'Monday': '7:30-15:0',...",3.0
3,3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0.0,0.0,0.0,We came on a Saturday morning after waiting a ...,2017-11-19 02:20:23,...,19454,40.210196,-75.223639,3.0,169.0,1.0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","['Restaurants', 'Breakfast & Brunch', 'Food', ...","{'Friday': '7:30-15:0', 'Monday': '7:30-15:0',...",0.0
4,4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2.0,0.0,0.0,0.0,"Mediocre at best. The decor is very nice, and ...",2017-09-09 17:49:47,...,19454,40.210196,-75.223639,3.0,169.0,1.0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","['Restaurants', 'Breakfast & Brunch', 'Food', ...","{'Friday': '7:30-15:0', 'Monday': '7:30-15:0',...",0.0

In [13]:
merged_review_filtered = m1.drop(columns=['attributes', 'hours'])

NameError: name 'm1' is not defined

In [22]:
merged_review_filtered.head()

,Unnamed: 0,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,...,city,state,postal_code,latitude,longitude,stars_y,review_count,is_open,categories,review_relelvance
367,367,kUIo6GuLZGeWhUs1juO3tg,-G7Zkl1wIWBBmD0KRy_sCw,kxX2SOes4o-D3ZQBkiMRfA,5.0,23.0,11.0,18.0,"Zaika on Grant Avenue in Northeast Philly, is ...",2017-04-28 13:32:57,...,Philadelphia,PA,19114,40.079848,-75.025080,4.0,181.0,1.0,"['Halal', 'Pakistani', 'Restaurants', 'Indian']",52.0
381,381,wNu9HLw8ZSqmef4XlmrdNg,3QnoTcrxuafMCoTzW_AH7A,kxX2SOes4o-D3ZQBkiMRfA,5.0,24.0,13.0,23.0,Awesome find!! I can safely say after my first...,2017-03-24 10:55:39,...,Philadelphia,PA,19114,40.079848,-75.025080,4.0,181.0,1.0,"['Halal', 'Pakistani', 'Restaurants', 'Indian']",60.0
1311,1311,TWnIcUQQ1M_ShPnhSK-krA,iJQtNnEcrxdpaD132v26nQ,gebiRewfieSdtt17PTW6Zg,2.0,21.0,13.0,9.0,"Something's Dirty - very dirty, and not very g...",2016-04-23 15:21:03,...,Santa Barbara,CA,93101,34.416984,-119.695556,3.5,488.0,1.0,"['Steakhouses', 'Sushi Bars', 'Restaurants', '...",43.0
2286,2286,6LqVOdbbUPErI1q_prX90A,AHRrG3T1gJpHvtpZ-K0G_g,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,18.0,3.0,16.0,This is a very overdue update. You'll often fi...,2015-08-24 01:03:12,...,Indianapolis,IN,46203,39.759169,-86.146494,4.0,1379.0,1.0,"['Beer', 'Wine & Spirits', 'Cafes', 'Coffee & ...",37.0
2456,2456,QScYcBhRnHidLBEgEPYy1Q,BHDBfx4mWOdtT-ug0CPc3w,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,23.0,13.0,21.0,Oh my heavens... So pleasantly surprised to fi...,2019-05-31 19:59:28,...,Indianapolis,IN,46203,39.759169,-86.146494,4.0,1379.0,1.0,"['Beer', 'Wine & Spirits', 'Cafes', 'Coffee & ...",57.0

In [15]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 999)
pd.set_option('display.colheader_justify', 'left')
pd.set_option('display.precision', 3)
pd.set_option('display.max_colwidth', None)

m2 = merged_review[merged_review['review_count']>7560]
m2

In [23]:
m1 = merged_review_filtered[merged_review_filtered['review_relelvance']>32]
m1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20234 entries, 367 to 5126033
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20234 non-null  object
 1   review_id          20234 non-null  object
 2   user_id            20234 non-null  object
 3   business_id        20234 non-null  object
 4   stars_x            20234 non-null  float64
 5   useful             20234 non-null  float64
 6   funny              20234 non-null  float64
 7   cool               20234 non-null  float64
 8   text               20234 non-null  object
 9   date               20234 non-null  object
 10  year               20234 non-null  float64
 11  month              20234 non-null  float64
 12  day_of_week        20234 non-null  float64
 13  name               20234 non-null  object
 14  address            20128 non-null  object
 15  city               20234 non-null  object
 16  state              20234 non-null  object
 17  postal_code        20234 non-null  object
 18  latitude           20234 non-null  float64
 19  longitude          20234 non-null  float64
 20  stars_y            20234 non-null  float64
 21  review_count       20234 non-null  float64
 22  is_open            20234 non-null  float64
 23  categories         20234 non-null  object
 24  review_relelvance  20234 non-null  float64
dtypes: float64(13), object(12)
memory usage: 4.0+ MB

In [18]:
m1.to_parquet("filtered_review.parquet")

ArrowInvalid: ("Could not convert '2392064' with type str: tried to convert to int64", 'Conversion failed for column Unnamed: 0 with type object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5126138 entries, 0 to 5126137
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         object
 1   review_id          object
 2   user_id            object
 3   business_id        object
 4   stars_x            float64
 5   useful             float64
 6   funny              float64
 7   cool               float64
 8   text               object
 9   date               object
 10  year               float64
 11  month              float64
 12  day_of_week        float64
 13  name               object
 14  address            object
 15  city               object
 16  state              object
 17  postal_code        object
 18  latitude           float64
 19  longitude          float64
 20  stars_y            float64
 21  review_count       float64
 22  is_open            float64
 23  categories         object
 24  review_relelvance  float64
dtypes: float64(13), object(12)
memory usage: 977.7+ MB

In [19]:
import nltk
nltk.download('punkt') # Correct way to download tokenizer
nltk.download('punkt_tab')
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package punkt to /home/jupyter/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/jupyter/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/jupyter/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [32]:

import nltk
import string
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer


nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')


lemmatizer = WordNetLemmatizer()


stop_words = set(stopwords.words('english'))


def cleanup_text(text):
    if pd.isna(text):  
        return ""
    
    
    tokenized_text = word_tokenize(text.lower())  

    
    tokenized_text = [word for word in tokenized_text if word.isalnum()]

    
    tokenized_text = [word for word in tokenized_text if word not in stop_words]

    
    tokenized_text = [lemmatizer.lemmatize(word) for word in tokenized_text]

    return " ".join(tokenized_text)  


m1["cleaned_text"] = m1["text"].apply(cleanup_text)


m1.to_csv("cleaned_yelp_reviews.csv", index=False)


print(m1[["text", "cleaned_text"]].head())

[nltk_data] Downloading package punkt to /home/jupyter/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/jupyter/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/jupyter/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                                                   text  \
367   Zaika on Grant Avenue in Northeast Philly, is ...
381   Awesome find!! I can safely say after my first...
1311  Something's Dirty - very dirty, and not very g...
2286  This is a very overdue update. You'll often fi...
2456  Oh my heavens... So pleasantly surprised to fi...

                                           cleaned_text
367   zaika grant avenue northeast philly one best r...
381   awesome find safely say first experience tasti...
1311  something dirty dirty good know three year ago...
2286  overdue update often find upcycled mechanic sh...
2456  oh heaven pleasantly surprised find amazing br...

In [16]:
m1 = pd.read_csv("cleaned_yelp_reviews.csv")

In [17]:
m1.head()

,Unnamed: 0,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,categories,review_relelvance,cleaned_text
0,367,kUIo6GuLZGeWhUs1juO3tg,-G7Zkl1wIWBBmD0KRy_sCw,kxX2SOes4o-D3ZQBkiMRfA,5.0,23.0,11.0,18.0,"Zaika on Grant Avenue in Northeast Philly, is ...",2017-04-28 13:32:57,...,PA,19114,40.079848,-75.025080,4.0,181.0,1.0,"['Halal', 'Pakistani', 'Restaurants', 'Indian']",52.0,zaika grant avenue northeast philly one best r...
1,381,wNu9HLw8ZSqmef4XlmrdNg,3QnoTcrxuafMCoTzW_AH7A,kxX2SOes4o-D3ZQBkiMRfA,5.0,24.0,13.0,23.0,Awesome find!! I can safely say after my first...,2017-03-24 10:55:39,...,PA,19114,40.079848,-75.025080,4.0,181.0,1.0,"['Halal', 'Pakistani', 'Restaurants', 'Indian']",60.0,awesome find safely say first experience tasti...
2,1311,TWnIcUQQ1M_ShPnhSK-krA,iJQtNnEcrxdpaD132v26nQ,gebiRewfieSdtt17PTW6Zg,2.0,21.0,13.0,9.0,"Something's Dirty - very dirty, and not very g...",2016-04-23 15:21:03,...,CA,93101,34.416984,-119.695556,3.5,488.0,1.0,"['Steakhouses', 'Sushi Bars', 'Restaurants', '...",43.0,something dirty dirty good know three year ago...
3,2286,6LqVOdbbUPErI1q_prX90A,AHRrG3T1gJpHvtpZ-K0G_g,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,18.0,3.0,16.0,This is a very overdue update. You'll often fi...,2015-08-24 01:03:12,...,IN,46203,39.759169,-86.146494,4.0,1379.0,1.0,"['Beer', 'Wine & Spirits', 'Cafes', 'Coffee & ...",37.0,overdue update often find upcycled mechanic sh...
4,2456,QScYcBhRnHidLBEgEPYy1Q,BHDBfx4mWOdtT-ug0CPc3w,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,23.0,13.0,21.0,Oh my heavens... So pleasantly surprised to fi...,2019-05-31 19:59:28,...,IN,46203,39.759169,-86.146494,4.0,1379.0,1.0,"['Beer', 'Wine & Spirits', 'Cafes', 'Coffee & ...",57.0,oh heaven pleasantly surprised find amazing br...

In [20]:

!pip install gensim

Collecting gensim
  Downloading gensim-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.2 kB)
Requirement already satisfied: numpy<2.0,>=1.18.5 in /opt/conda/lib/python3.10/site-packages (from gensim) (1.24.4)
Requirement already satisfied: scipy<1.14.0,>=1.7.0 in /opt/conda/lib/python3.10/site-packages (from gensim) (1.11.4)
Requirement already satisfied: smart-open>=1.8.1 in /opt/conda/lib/python3.10/site-packages (from gensim) (7.1.0)
Requirement already satisfied: wrapt in /opt/conda/lib/python3.10/site-packages (from smart-open>=1.8.1->gensim) (1.17.0)
Downloading gensim-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.5/26.5 MB 115.4 MB/s eta 0:00:0000:01
Installing collected packages: gensim
Successfully installed gensim-4.3.3

In [22]:
import gensim.downloader as api

pretrained_model = api.load('glove-wiki-gigaword-300')

[===-----------------------------------------------] 6.2% 23.4/376.1MB downloaded

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

[========------------------------------------------] 17.5% 65.9/376.1MB downloaded

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

[=============-------------------------------------] 27.6% 103.7/376.1MB downloaded

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

[===================-------------------------------] 38.2% 143.8/376.1MB downloaded

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

[========================--------------------------] 48.9% 183.8/376.1MB downloaded

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

[=============================---------------------] 59.6% 224.0/376.1MB downloaded

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

[==================================----------------] 69.6% 261.9/376.1MB downloaded

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

[========================================----------] 80.2% 301.7/376.1MB downloaded

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

[=============================================-----] 91.8% 345.2/376.1MB downloaded

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

[==================================================] 100.0% 376.1/376.1MB downloaded

In [23]:

vector_size = pretrained_model.vector_size  


texts = m1["cleaned_text"].astype(str).tolist()


def get_sentence_embedding(sentence, model, vector_size):
    words = sentence.split()  
    embeddings = [model[word] for word in words if word in model]  
    if len(embeddings) > 0:
        return np.mean(embeddings, axis=0)  
    else:
        return np.zeros(vector_size)  


glove_vectors = np.array([get_sentence_embedding(text, pretrained_model, vector_size) for text in texts])

In [36]:

from sklearn.feature_extraction.text import TfidfVectorizer


tfidf_model = TfidfVectorizer(max_features=20000)


tfidf_matrix = tfidf_model.fit_transform(m1["cleaned_text"])

tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_model.get_feature_names_out())


tfidf_df.to_parquet("tfidf_yelp_reviews.parquet", index=False)

In [33]:
tfidf_df

,10,100,1000,1000th,100th,101,102,104,105,10a,...,zoom,zorba,zozo,zsa,zucchini,zudars,zukku,zuppa,zydeco,étouffée
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
tfidf_df = pd.read_parquet("tfidf_yelp_reviews.parquet")

In [28]:
 
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np


tfidf_cosine_sim = cosine_similarity(tfidf_df)


glove_cosine_sim = cosine_similarity(glove_vectors)


print("TF-IDF Cosine Similarity (First 5x5):\n", tfidf_cosine_sim[:5, :5])
print("\nGloVe Cosine Similarity (First 5x5):\n", glove_cosine_sim[:5, :5])

TF-IDF Cosine Similarity (First 5x5):
 [[1.         0.12961029 0.04166746 0.02488864 0.03641397]
 [0.12961029 1.         0.03523891 0.00560977 0.07885907]
 [0.04166746 0.03523891 1.         0.         0.03130077]
 [0.02488864 0.00560977 0.         1.         0.03357616]
 [0.03641397 0.07885907 0.03130077 0.03357616 1.        ]]

GloVe Cosine Similarity (First 5x5):
 [[1.0000001  0.9171871  0.8556925  0.87240034 0.89136493]
 [0.9171871  0.9999994  0.9145846  0.85895234 0.92410916]
 [0.8556925  0.9145846  1.0000002  0.82690585 0.8879625 ]
 [0.87240034 0.85895234 0.82690585 1.0000001  0.8676633 ]
 [0.89136493 0.92410916 0.8879625  0.8676633  1.0000001 ]]

In [32]:
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from gensim.models import KeyedVectors
import gensim.downloader as api


glove_model = api.load('glove-wiki-gigaword-300')  


tfidf_vectorizer = TfidfVectorizer(max_features=20000)  
tfidf_matrix = tfidf_vectorizer.fit_transform(m1["cleaned_text"])  
tfidf_vocab = tfidf_vectorizer.get_feature_names_out()  


def get_weighted_glove_vector(sentence, glove_model, tfidf_vectorizer):
    words = sentence.split()  
    vector_size = glove_model.vector_size  

    
    tfidf_weights = {word: tfidf_vectorizer.idf_[tfidf_vectorizer.vocabulary_.get(word, 0)] for word in words}
    
    
    weighted_vectors = [
        glove_model[word] * tfidf_weights[word] for word in words if word in glove_model and word in tfidf_weights
    ]
    
    if weighted_vectors:
        return np.mean(weighted_vectors, axis=0)  
    else:
        return np.zeros(vector_size)  


weighted_glove_vectors = np.array([get_weighted_glove_vector(text, glove_model, tfidf_vectorizer) for text in m1["cleaned_text"]])

In [31]:
glove_df = pd.DataFrame(weighted_glove_vectors)
glove_df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,0.858592,0.154181,0.323484,-0.399241,0.326458,-0.545636,-1.394057,0.281465,-0.123213,-0.542440,...,-0.250909,-0.229328,-0.552093,-0.769241,0.284153,-0.017941,-0.292731,0.349016,-0.935706,0.219574
1,0.755975,0.155494,0.010514,-0.253171,0.141417,-0.440080,-1.045392,-0.102808,-0.127356,-0.092749,...,-0.163883,-0.169573,-0.295039,-0.288185,0.236569,-0.022251,-0.365702,0.221740,-0.680323,0.331854
2,0.906450,-0.193400,-0.554911,-0.574190,0.039106,0.255241,-1.353222,-0.320451,0.406643,0.699890,...,-0.142687,-0.292783,-0.698760,0.294014,0.573864,-0.526897,-0.248788,0.075448,-0.827217,0.334176
3,0.335423,1.226930,-0.094273,-0.258169,0.264507,-0.269418,-1.133745,-0.412352,0.269805,-0.626671,...,-0.831705,-0.296237,-0.094587,-0.678926,-0.059134,-0.379914,-1.164819,0.139612,-0.509723,0.853939
4,0.679790,0.044575,-0.205409,-0.720147,0.015761,-0.410904,-1.194017,0.119634,0.407577,-0.128530,...,-0.441857,-0.001320,-0.310371,-0.686154,0.392252,0.203400,-0.652363,0.222706,-0.469796,0.349120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20229,0.797784,0.656184,-0.840474,-0.851888,0.207350,-0.137283,-1.071963,0.032974,-0.031749,-0.026924,...,-0.058739,0.327891,0.077755,-0.005264,0.210573,-0.061987,-0.859505,0.567005,-0.548177,0.390130
20230,-0.285345,0.578556,-0.528137,-0.750164,0.322457,-0.179783,-0.838643,-0.364678,-0.027279,0.134014,...,-0.159870,0.053914,-0.276592,-0.272625,0.104407,0.123089,-0.651834,0.355298,0.088586,0.515907
20231,0.852525,-0.112452,-0.129401,-0.009184,0.069486,-0.274017,-0.739938,-0.486598,-0.387123,-0.049008,...,0.002466,-0.019202,-0.442865,-0.034064,0.475864,-0.074331,-0.675853,0.447019,-0.687754,0.399706
20232,0.306964,0.263512,-0.267312,-0.562546,-0.228523,-0.699757,-0.474766,-0.097210,-0.234700,-0.485795,...,0.313377,0.191517,-0.490260,-0.014799,-0.065914,0.716367,-1.164535,0.232941,-0.223261,0.847906
20233,0.571358,0.044364,-0.210265,-0.201443,0.464685,-0.654891,-0.946773,-0.059428,-0.083986,-0.452680,...,0.054497,0.284489,-0.340743,-0.797162,0.018406,0.060033,-0.504586,0.175298,-0.336184,-0.076625

In [38]:
import pandas as pd
tfidf_df = pd.read_parquet("tfidf_yelp_reviews.parquet")

## NMF

In [39]:
import numpy as np
import pandas as pd
from sklearn.decomposition import NMF

tfidf_df = pd.read_parquet("tfidf_yelp_reviews.parquet")

tfidf_df.shape  

tfidf_matrix = tfidf_df.values

num_topics = 10  
nmf_model = NMF(
    n_components=num_topics,
    init='nndsvd',     
    random_state=42,
    max_iter=200       
)

W = nmf_model.fit_transform(tfidf_matrix)
H = nmf_model.components_

feature_names = tfidf_df.columns  
n_top_words = 10

for topic_idx, topic_weights in enumerate(H):
    top_word_indices = topic_weights.argsort()[::-1][:n_top_words]
    top_words = [feature_names[i] for i in top_word_indices]
    print(f"Topic #{topic_idx}:")
    print("  " + " ".join(top_words))
    print("-" * 50)

doc_topics = np.argmax(W, axis=1)

original_df['dominant_topic'] = doc_topics

/opt/conda/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:1741: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

Topic #0:
  chicken dish sauce fried restaurant shrimp good food rice meal
--------------------------------------------------
Topic #1:
  pizza crust pie slice cheese pepperoni topping thin sauce delivery
--------------------------------------------------
Topic #2:
  coffee donut breakfast shop tea latte egg cup iced toast
--------------------------------------------------
Topic #3:
  ice cream chocolate cake flavor cooky cone scoop sweet dessert
--------------------------------------------------
Topic #4:
  burger fry bacon bun onion patty cheese shake good got
--------------------------------------------------
Topic #5:
  bar beer wine great drink cocktail night table service area
--------------------------------------------------
Topic #6:
  taco salsa mexican burrito chip tortilla bean asada food margarita
--------------------------------------------------
Topic #7:
  sandwich cheese bread bagel breakfast cheesesteak salad lunch steak philly
--------------------------------------------------
Topic #8:
  sushi roll tuna fish lunch tempura salmon fresh rice soup
--------------------------------------------------
Topic #9:
  food get place like time one go would know order
--------------------------------------------------

NameError: name 'original_df' is not defined

In [41]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import NMF


tfidf_matrix = tfidf_df.values


topic_range = range(2, 21)  
reconstruction_errors = []

for k in topic_range:
    nmf_model = NMF(
        n_components=k,
        init='nndsvd',
        random_state=42,
        max_iter=200
    )
    
    nmf_model.fit(tfidf_matrix)
    
    reconstruction_errors.append(nmf_model.reconstruction_err_)
    print(f"Number of Topics: {k}, Reconstruction Error: {nmf_model.reconstruction_err_}")


plt.figure(figsize=(8, 5))
plt.plot(topic_range, reconstruction_errors, marker='o')
plt.xlabel("Number of Topics (k)")
plt.ylabel("Reconstruction Error")
plt.title("NMF Reconstruction Error vs. Number of Topics")
plt.xticks(list(topic_range))
plt.show()

Number of Topics: 2, Reconstruction Error: 139.13758544380636

/opt/conda/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:1741: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

Number of Topics: 3, Reconstruction Error: 138.8253897853609
Number of Topics: 4, Reconstruction Error: 138.55638377103676

/opt/conda/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:1741: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

Number of Topics: 5, Reconstruction Error: 138.33369454630682
Number of Topics: 6, Reconstruction Error: 138.10742276539472
Number of Topics: 7, Reconstruction Error: 137.88177114492396

/opt/conda/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:1741: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

Number of Topics: 8, Reconstruction Error: 137.69726906561257
Number of Topics: 9, Reconstruction Error: 137.48677950283223

/opt/conda/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:1741: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

Number of Topics: 10, Reconstruction Error: 137.30799559329037
Number of Topics: 11, Reconstruction Error: 137.15289177730807
Number of Topics: 12, Reconstruction Error: 136.96502121325926
Number of Topics: 13, Reconstruction Error: 136.7895859144265

KeyboardInterrupt:

In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.decomposition import NMF


tfidf_df = pd.read_parquet("tfidf_yelp_reviews.parquet")
tfidf_matrix = tfidf_df.values

num_topics = 10
nmf_model = NMF(n_components=num_topics, init='nndsvd', random_state=42, max_iter=200)
W = nmf_model.fit_transform(tfidf_matrix)
H = nmf_model.components_


doc_topics = np.argmax(W, axis=1)
tfidf_df['dominant_topic'] = doc_topics


nltk.download('vader_lexicon')


sid = SentimentIntensityAnalyzer()


col_sentiment = {}
for col in tfidf_df.columns:
    
    if col == 'dominant_topic':
        col_sentiment[col] = 0.0
        continue


    if not isinstance(col, str) or not col.strip():
        col_sentiment[col] = 0.0
    else:
        score = sid.polarity_scores(col)['compound']
        col_sentiment[col] = score


def compute_row_sentiment(row):
    total_score = 0.0
    for word, tfidf_val in row.items():
        total_score += tfidf_val * col_sentiment.get(word, 0.0)
    return total_score


tfidf_df['sentiment_score'] = tfidf_df.drop(columns='dominant_topic').apply(
    compute_row_sentiment, axis=1
)


def label_sentiment(score):
    if score >= 0.05:
        return 'POSITIVE'
    elif score <= -0.05:
        return 'NEGATIVE'
    else:
        return 'NEUTRAL'

tfidf_df['sentiment_label'] = tfidf_df['sentiment_score'].apply(label_sentiment)


topic_sentiment = tfidf_df.groupby('dominant_topic').agg(
    avg_sentiment=('sentiment_score', 'mean'),
    positive_count=('sentiment_label', lambda x: (x == 'POSITIVE').sum()),
    negative_count=('sentiment_label', lambda x: (x == 'NEGATIVE').sum()),
    neutral_count=('sentiment_label', lambda x: (x == 'NEUTRAL').sum()),
    total_docs=('sentiment_label', 'count')
).reset_index()

print("Aggregated sentiment by topic (approximate):")
display(topic_sentiment)


print("\nSample rows:")
display(tfidf_df[['dominant_topic', 'sentiment_score', 'sentiment_label']].head())

/opt/conda/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:1741: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/jupyter/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

Aggregated sentiment by topic (approximate):

,dominant_topic,avg_sentiment,positive_count,negative_count,neutral_count,total_docs
0,0,0.320135,3245,52,146,3443
1,1,0.253941,894,57,54,1005
2,2,0.293761,1455,53,73,1581
3,3,0.294136,1017,22,41,1080
4,4,0.269202,802,40,59,901
5,5,0.347354,2467,41,83,2591
6,6,0.278107,812,20,44,876
7,7,0.257022,1302,52,104,1458
8,8,0.293754,712,14,39,765
9,9,0.226484,5331,645,558,6534

Sample rows:

   dominant_topic  sentiment_score sentiment_label
0               0         0.714842        POSITIVE
1               0         0.379902        POSITIVE
2               8        -0.233411        NEGATIVE
3               2         0.311422        POSITIVE
4               5         0.543250        POSITIVE

In [14]:
import pandas as pd


n_top_words = 10



topic_to_top_words = {}
for topic_idx in range(num_topics):
    topic_weights = H[topic_idx]
    top_indices = topic_weights.argsort()[::-1][:n_top_words]
    topic_to_top_words[topic_idx] = [feature_names[i] for i in top_indices]


def find_topics_for_keyword(keyword):
    keyword_lower = keyword.lower()
    matched_topics = []
    for topic, words in topic_to_top_words.items():
        
        if keyword_lower in [w.lower() for w in words]:
            matched_topics.append(topic)
    return matched_topics


def recommend_restaurants(keyword, df, top_n=5):
    # Find topics whose top words contain the keyword
    matched_topics = find_topics_for_keyword(keyword)
    if not matched_topics:
        print(f"No topics found matching keyword: '{keyword}'")
        return pd.DataFrame()
    
    # Filter reviews whose dominant_topic is among the matched topics
    subset = df[df['dominant_topic'].isin(matched_topics)]
    if subset.empty:
        print(f"No reviews found for topics related to keyword: '{keyword}'")
        return pd.DataFrame()
    
    # Group by restaurant (business_id) and aggregate:
    # Use the first occurrence of "name" and "stars" (assumed consistent per restaurant),
    # and compute average sentiment and review count.
    recommendations = subset.groupby('business_id').agg(
        name=('name', 'first'),
        stars=('stars', 'first'),
        avg_sentiment=('sentiment_score', 'mean'),
        review_count=('sentiment_score', 'count')
    ).reset_index()
    
    # Sort by average sentiment (highest first)
    recommendations = recommendations.sort_values('avg_sentiment', ascending=False)
    return recommendations.head(top_n)

# -------------------------
# 4. Usage: Prompt the User for a Keyword and Display Recommendations
# -------------------------
user_keyword = input("Enter a keyword for restaurant search (e.g., 'pizza', 'burger', 'sushi'): ").strip()
recs = recommend_restaurants(user_keyword, merged_review, top_n=10)

if recs.empty:
    print("No recommendations found.")
else:
    print(f"\nTop restaurant recommendations for keyword '{user_keyword}':")
    print(recs[['name', 'stars', 'avg_sentiment', 'review_count']])

Enter a keyword for restaurant search (e.g., 'pizza', 'burger', 'sushi'):  pizza

KeyError: 'dominant_topic'